* {
	text-align:center;
	color:red;
	display:flex;
}
h1 {
	color:purple;
	font-weight:bold;
}
nav {
	display:flex;
	background-color:yellow;
}
body {
	background-color:green;
	flex-wrap:wrap;
}
footer{
	background-color:orange;
	width:100%;
}


